
        body {
            background-color: #0d0d38;
            color: aliceblue;
               
        }

        /*
        hr {
        height: 10px; background: url('1.jpg') no-repeat 50% 50%; margin: 1em 10em; border: 0; }
        */

        .menu {
            
            width:60%; height: 50%;  
            margin-left:auto;
            margin-right:auto;            
            text-align: center;
            font-size: 1.4em;
        }
        a {
            color: #e8cbd0; 
            text-decoration: none;
        }
        
        .menu div {
            margin-top: 2%;
            
            display: inline-block;
            width: 170px; height: 170px; 
            line-height: 170px;
            text-align: center;
            color: #191970;
            
            background: rgba(193, 255, 193, .5);
            border: whitesmoke solid 3px;
            border-radius: 60%;
            margin-left: 10%;
         
            -webkit-transition: background 2s, color 2s, -webkit-transform 2s; /* Safari */
            transition: background 2s, transform 2s;
  
            
        }

        .menu div:hover {
            background: #FF7F50;
            color: white;
            
            -webkit-transform: scale(1.1,1.1); /* Safari */
            transform: scale(1.1,1.1);
            
        }
        
        h1 {
            margin-left: 10%;
            margin-top: 10%;
        }
        
        footer {
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1rem;
            background: #0d0d38;
            border-top: solid 3px white;
            text-align: center;
            height: 10%;
            color: aliceblue;
        }
        
        .button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 15px 32px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
        }